
body{background:url(../images/bg.jpg) no-repeat center top #310b28;font-family:Arial, Helvetica, sans-serif;padding:0;font-size:12px;margin:0 auto;color: #0e4354;}
h2{font-size:18px;color:#256c89;font-weight:normal;padding:15px 0 5px 20px;margin:0px;clear:both;}
h3{font-size:18px;color:#256c89;font-weight:normal;padding:15px 0 5px 20px;margin:0px;float:left;clear:both;}
.clear{clear:both;}

/* button */
.btn2{background-color:#59C3EE; height:31px; color:#FFF; width:67px; text-align:center;border-radius:4px;}


/* height */
.h132{height:132px;}


.lab_ipt_item{height:28px; line-height:28px; margin:8px 0px;}
.lab100{width:100px; height:28px; padding-right:4px; text-align:right; float:left;}
.ipt-box{color: #878787; height: 28px; float:left;}
.ipt_text_w150{padding:4px 2px; width:150px; height:18px; line-height:18px;border: 1px solid #E0E0E0; background: none repeat scroll 0% 0% #FFF;  color:#878787; font-size:12px; margin-right:10px;}
.asterisk{color:#F00;}
.ipt_textarea_w300{width:300px; height:122px; overflow:hidden; resize:none;}

.error-mess{background:none repeat scroll 0% 0% #FFF0F0; border:1px solid #FFD2D2; height:26px; line-height:26px; margin:10px 0 0 104px; color:#B74D46; width:154px;}
.error-mess .error-icon{display:inline-block; background:url('../images/login-logic-icons.png') no-repeat scroll 0px 0px transparent; width:16px; height:16px; vertical-align:middle; margin:-4px 5px 0px;}



