
/*---------------- menu start ----------------------*/
.menu {font-size:12px;padding:0px 10px 0 10px; float:left; width:1000px;}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none; height:34px;}
/* style the sub-level lists */
.menu ul ul {width: auto;}
/* float the top list items to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu ul li {float:left;height:34px;line-height:34px;}
/* style the sub level list items */
.menu ul ul li {display:block;width: auto;height:auto;position:relative;line-height:1em;}
/* style the links for the top level */
.menu a, .menu a:visited {display:block;float:left;height:100%;font-size:12px;text-decoration:none;color:#fff;padding:0 21px 0 17px;}
.menu a.current{background:url(../images/menu_bg.gif) repeat-x center;}
/* style the sub level links */
.menu ul ul a, .menu ul ul a:visited {display:block;background:#57c0e8; border-bottom:1px #81dafc solid; color:#fff;width:12em;height:100%;line-height:1em;padding:1em 1em;}
.menu ul table ul a, .menu ul table ul a:visited  {width:14em; w\idth:12em;}
/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}
.menu li:hover {position:relative;}
* html .menu a:hover {position:relative;}
/* style the third level background */
.menu ul ul ul a, .menu ul ul ul a:visited {background:#57c0e8;}
/* style the fourth level background */
.menu ul ul ul ul a, .menu ul ul ul ul a:visited {background:#57c0e8;}
/* style the sub level 1 background */
.menu ul :hover a.sub1 {background:url(../images/arrow.gif) no-repeat right #309dc7;}
/* style the sub level 2 background */
.menu ul ul :hover a.sub2 {background:url(../images/arrow.gif) no-repeat right #088bb4;}
/* style the level hovers */
/* first */
.menu a:hover {color:#fff;background:url(../images/menu_bg.gif) repeat-x center;}
.menu :hover > a {color:#fff;background:url(../images/menu_bg.gif) repeat-x center;}
/* second */
.menu ul ul a:hover{color:#fff;background:url(../images/menu_bg_a.gif) repeat-x center;}
.menu ul ul :hover > a {color:#fff;background:url(../images/menu_bg_a.gif) repeat-x center;}
/* third */
.menu ul ul ul a:hover {background:url(../images/menu_bg_a.gif) repeat-x center;}
.menu ul ul ul :hover > a {background:url(../images/menu_bg_a.gif) repeat-x center;}
/* fourth */
.menu ul ul ul ul a:hover {background:url(../images/menu_bg_a.gif) repeat-x center;}
/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {visibility:hidden;position:absolute;height:0;top:34px;left:0;width:14em; z-index:999;}
/* position the third level flyout menu */
.menu ul ul ul{left:14em;top:0;width:14em;}
/* position the third level flyout menu for a left flyout */
.menu ul ul ul.left {left:-14em;}
/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul, .menu ul a:hover ul {visibility:visible; height:auto; padding-bottom:3em; background:transparent url(../images/trans.gif);}
/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{visibility:hidden;}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{visibility:visible;}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul {visibility:visible;}
/*---------------- menu end ----------------------*/

#main_container{margin:0 auto; width:1024px; padding:0px 0 0px 0;}
/*---------------- login start ----------------------*/
.header_login{width:600px;margin:auto;}
.login_logo{padding:35px 0 0 0;}
.login_form{width:600px;height:250px;background:url(../images/login_bg.png) no-repeat center top;margin:0 auto;padding:0px 0 0 0px;}
a.forgot_pass{float:right;color:#256c89;text-decoration:none;background:url(../images/help.png) no-repeat left;padding:0 0 0 18px;display:block;margin:15px 20px 0 0;}
.form{width:600px;float:left;padding:10px 0 0 110px;clear:both;}
/*---------------- login end ----------------------*/
/*---------------- main start ----------------------*/
.main_logo{padding:35px 0 0 0; float:left;}
.header{width:1024px;height:100px;}
#clock_a{float:right;padding:15px 0 0 0;}
.jclock{color:#FFFFFF;float:right;font-size:22px;font-weight:bold;padding:34px 25px 0 0;}
.right_header{width:350px;float:right;text-align:right;color:#FFFFFF;padding:40px 0 0 0;}
.right_header a{margin:0 5px 0 5px;text-decoration:underline;color:#FFFFFF;}
.right_header a.logout{background:url(../images/user_logout.png) no-repeat right;padding-right:20px;}

.main_content{margin:0 auto;width:1024px;height:auto;padding:0px 0 50px 0;background:url(../images/menu_bg.jpg) no-repeat center top #fff;}
.center_content{clear:both;}
.left_content{width:580px;float:left;padding:30px 0 0 20px;}
.right_content{width:420px;float:left;padding:30px 0 0 0px;}

.footer{width:1024px;height:87px;background:url(../images/footer_bg.jpg) no-repeat center top;}
.footer_login{width:600px;margin:auto; display:none;}
.left_footer{float:left;padding:25px 0 0 10px;color:#a8549b;font-size:11px;}
.left_footer a{color:#FFFFFF;text-decoration:none;}
.right_footer{float:right;padding:25px 10px 0 0;}
.left_footer_login{float:left;padding:15px 0 0 10px;color:#a8549b;font-size:11px;}
.left_footer_login a{color:#FFFFFF;text-decoration:none;}
.right_footer_login{float:right;padding:15px 10px 0 0;}
/*---------------- main end ----------------------*/

.left_content .h132{height:132px;}
